#tooltip {
  white-space: pre-wrap;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background: white;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em;
  text-align: center;
}

.county:hover {
  stroke: black;
  stroke-width: 1;
}
